<h1>Help</h1>
<p>Get help on rails tutorial
<a href='https://www.railstutorial.org/help'>Rails Tutorial help page</a>
to get help from book
<a href='https://www.railstutorial.org/book'>Ruby On Rails Tutorial Book</a>
</p>

